ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.hero-image {
  -webkit-animation: profile__animate 8s ease-in-out 1s infinite;
  animation: profile__animate 8s ease-in-out 1s infinite;
  box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
  -webkit-filter: saturate(1);
  filter: saturate(1);
}

.vip-body {
  overflow-y: auto;
}

.vip-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Customize the scrollbar thumb */
.vip-body::-webkit-scrollbar-thumb {
  background-color: #9258ff;
  border-radius: 10px;
}

/* Customize the scrollbar track on hover */
.vip-body::-webkit-scrollbar-track {
  background-color: #0000006b;
  border-radius: 10px;
}

/* Timeline css */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.entry {
  display: flex;
  margin-bottom: 20px;
}

.even .content {
  order: 1;
}

.odd .content {
  order: -1;
}

.content {
  flex: 1;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.date {
  color: #777;
}

.description {
  margin-top: 10px;
}
